@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

.project-container {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;  
    justify-content: center;
    align-items: center; 
    max-width: 1200px;
    margin: 60px auto 0px auto;
    padding: 0px 20px 30px 20px; 


}

.project-header {
    color: rgb(225, 226, 230);
    font-size: 2.5rem;
    line-height: 1em;
    font-weight: 100;
    letter-spacing: -0.015em;
    text-align: center; 
    margin-bottom: 20px; 
    width: 100%; 
    
}

.project-header::after {
    content: "";
    height: 3px;
    background-color: rgb(64, 224, 208);
    width: 60px;
    display: block;
    margin: 15px auto;
}
.project-sub-header{
    color: rgb(225, 226, 230);
    text-align: center; 
    margin-bottom:40px; 
    font-family: monospace;
    width: 100%;  
    padding-bottom:40px;
}

.project-container .col-md-6 {
    max-width: 50%; 
    width: 100%; 
    padding: 20px;
    box-sizing: border-box;
    
    
}

.project-card {
    text-align: left;
    background-color: rgb(17, 34, 64) !important;
     /* rgb(17, 34, 64) !important; */
    /* #1d293a !important; */
    width: 100%; 
    height: 720px; 
}
.card-content-container {
   
    overflow-y:auto ;
    padding-right: 10px; 
    margin-right: -10px;
    box-sizing: border-box;
    max-height: 60%;
    scrollbar-width: thin;
}

#proj-name{
    color: rgb(225, 226, 230);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    
}

#proj-desc{
    padding-top: 20px;
    color: rgb(148 163 184);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    margin: 20x auto;
    font-size:17px;
    text-align: justify;

}
.action-btn{
    color: rgb(225, 226, 230) !important;
    transition: transform 0.25s ease-in-out, color 0.25s ease-in-out !important;
}
    
.action-btn:hover {
    color: rgb(64, 224, 208) !important;
    transform: scale(1.1);
}


.skill-pill{
    box-shadow: 0 2px 5px rgba(145, 92, 182, .4);

}
.view-more {
    display: block;
    color: rgb(64, 224, 208); 
    text-align: left;
    font-size: 17px;
    margin: 10px 0 0 20px; 
    text-decoration: none;
    width: 100%; 
    max-width: 1200px;
    transition: color 0.5s ease-in-out;
  }
  .view-more-icon {
    font-size: 19px;
    margin-left: 2px; 
    color: rgb(64, 224, 208); 
    transition: transform 0.5s ease-in-out;
   
  }
  .view-more:hover .view-more-icon {
    transform: translateX(8px); 
}

@media screen and (max-width: 768px) {
    .project-container {
        padding: 0 10px;
        flex-direction: column; 
      
    }

    .project-container .col-md-6 {
        max-width: 100%;
        padding: 10px;
    }

    .project-card {
        padding: 20px;
    }
    .card-content-container {
        overflow-y:auto; 
        padding-right: 10px; 
        margin-right: -10px;
        box-sizing: border-box;
        max-height: 50%;
        scrollbar-width: thin;
    }
    .view-more {
        margin: 20px 0 20px 10px; 
        width: auto; 
        max-width: none; 
      }
}


